.storelist-comp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .storelist-comp {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
